<h1>Topics</h1>
 
 <div class="row">
   <div class="col-md-8">
     <% @topics.each do |topic| %>

      <!-- refactored the loop and placed it in the partial: `_topic.html.erb' -->
        <%= render partial: 'topic', locals: { topic: topic } %>

     <% end %>
    </div>
    <div class="col-md-4">
      <% if user_is_authorized_for_topics? %>
        <div class="col-md-4">
          <% if user_is_authorized_for_topics? && current_user.admin? %>
            <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
          <% end %>
        </div>
      <% end %>
    </div>
 </div>